# Data Analysis of Data Analysts

Project 1

In [61]:
# Dependencies and Setup
# import os
import csv
import pandas as pd
# from pathlib import Path
# from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
# from scipy.stats import sem
from scipy.stats import linregress
# import scipy.stats as st
import numpy as np
import requests
import json
from config import acct_id
from config import api_key

In [62]:
city_state = {
    'City': ["Atlanta", "Austin", "San Francisco", "New York City", "San Diego", "Boston", "Portland",
            "Seattle", "Los Angeles", "Chicago", "Denver", "Dallas"],
    'State': ["GA", "TX", "CA", "NY", "CA", "MA", "OR", "WA", "CA", "IL", "CO", "TX"]}
    
dataframe_1 = pd.DataFrame(city_state)
dataframe_1[['# of Analysts - City', 'Median Salary - City']] = ""

dataframe_1

             City State # of Analysts - City Median Salary - City
0         Atlanta    GA
1          Austin    TX
2   San Francisco    CA
3   New York City    NY
4       San Diego    CA
5          Boston    MA
6        Portland    OR
7         Seattle    WA
8     Los Angeles    CA
9         Chicago    IL
10         Denver    CO
11         Dallas    TX

In [86]:
# api_url = f'''https://api.careeronestop.org/v1/occupation/{acct_id}/Data%20Scientists/0?training=false
# &interest=false&videos=false&tasks=false&dwas=false&wages=true
# &alternateOnetTitles=false&projectedEmployment=false&ooh=false
# &stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false
# &ability=false&trainingPrograms=false'''

api_test_url = f'https://api.careeronestop.org/v1/occupation/BG1T6wpGrqRyfds/Data%20Scientists/Austin%2C%20TX?training=false&interest=false&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false'

headers = {"Authorization": f"Bearer {api_key}"}
response = requests.get(api_test_url, headers=headers).json()
# response

print(json.dumps(response, indent=4, sort_keys=True))

{
    "AutoCorrection": "",
    "DidYouMean": "",
    "OccupationDetail": [
        {
            "AlternateTitles": null,
            "BrightOutlook": "Bright",
            "BrightOutlookCategory": "Rapid Growth",
            "COSVideoURL": "https://www.careeronestop.org/Videos/careeronestop-videos.aspx?videocode=15205100&op=y",
            "Green": "No",
            "Location": "TX",
            "OnetCode": "15-2051.00",
            "OnetDescription": "Develop and implement a set of techniques or analytics applications to transform raw data into meaningful information using data-oriented programming languages and visualization software. Apply data mining, data modeling, natural language processing, and machine learning to extract and analyze information from large structured and unstructured datasets. Visualize, interpret, and report data findings. May create dynamic data reports.",
            "OnetTitle": "Data Scientists",
            "Projections": {
                "EstimatedYear": "2022",
                "OccupationTitle": "Data Scientists",
                "ProjectedYear": "2032",
                "Projections": [
                    {
                        "EstimatedEmployment": "4,110",
                        "EstimatedYear": "2020",
                        "PerCentChange": "50",
                        "ProjectedAnnualJobOpening": "560",
                        "ProjectedEmployment": "6,150",
                        "ProjectedYear": "2030",
                        "StateName": "Texas",
                        "Stfips": "48"
                    },
                    {
                        "EstimatedEmployment": "168,900",
                        "EstimatedYear": "2022",
                        "PerCentChange": "35",
                        "ProjectedAnnualJobOpening": "17700",
                        "ProjectedEmployment": "228,200",
                        "ProjectedYear": "2032",
                        "StateName": "United States",
                        "Stfips": "00"
                    }
                ]
            },
            "RelatedOnetTitles": null,
            "SocInfo": {
                "SocCode": "152051",
                "SocDescription": "Develop and implement a set of techniques or analytics applications to transform raw data into meaningful information using data-oriented programming languages and visualization software. Apply data mining, data modeling, natural language processing, and machine learning to extract and analyze information from large structured and unstructured datasets. Visualize, interpret, and report data findings. May create dynamic data reports.",
                "SocTitle": "Data Scientists"
            },
            "StFips": "48",
            "TrainingPrograms": null,
            "Wages": {
                "BLSAreaWagesList": [
                    {
                        "Area": "012420",
                        "AreaName": "Austin-Round Rock, TX Metro Area",
                        "Median": "105350",
                        "Pct10": "58060",
                        "Pct25": "79350",
                        "Pct75": "138280",
                        "Pct90": "169640",
                        "RateType": "Annual",
                        "StFips": "48"
                    },
                    {
                        "Area": "012420",
                        "AreaName": "Austin-Round Rock, TX Metro Area",
                        "Median": "50.65",
                        "Pct10": "27.92",
                        "Pct25": "38.15",
                        "Pct75": "66.48",
                        "Pct90": "81.56",
                        "RateType": "Hourly",
                        "StFips": "48"
                    }
                ],
                "NationalWagesList": [
                    {
                        "Area": "000000",
                        "AreaName": "United States",
                        "Median": "103500",
                        "Pct10": "58510",
                        "Pct25": "77140",
                        "Pct75": "136600",
                        "Pct90": "174790",
                        "RateType": "Annual",
                        "StFips": "00"
                    },
                    {
                        "Area": "000000",
                        "AreaName": "United States",
                        "Median": "49.76",
                        "Pct10": "28.13",
                        "Pct25": "37.09",
                        "Pct75": "65.68",
                        "Pct90": "84.03",
                        "RateType": "Hourly",
                        "StFips": "00"
                    }
                ],
                "SocData": "Yes",
                "SocWageInfo": {
                    "SocCode": "152051",
                    "SocDescription": null,
                    "SocTitle": "Data Scientists"
                },
                "StateWagesList": [
                    {
                        "Area": "000048",
                        "AreaName": "Texas",
                        "Median": "47.76",
                        "Pct10": "22.6",
                        "Pct25": "32.66",
                        "Pct75": "62.39",
                        "Pct90": "78.95",
                        "RateType": "Hourly",
                        "StFips": "48"
                    },
                    {
                        "Area": "000048",
                        "AreaName": "Texas",
                        "Median": "99350",
                        "Pct10": "47010",
                        "Pct25": "67940",
                        "Pct75": "129780",
                        "Pct90": "164210",
                        "RateType": "Annual",
                        "StFips": "48"
                    }
                ],
                "WageYear": "2022"
            }
        }
    ],
    "RecordCount": 1
}

In [87]:
projected_jobs = response["OccupationDetail"][0]['Projections']['Projections'][0]['ProjectedEmployment']
projected_jobs

'6,150'

In [88]:
# Use the city API request but alter the city and state based on the dataframe
# This allows us to search national, state, and city data all from the same call

base_url = city_url = f"https://api.careeronestop.org/v1/occupation/{acct_id}/Data%20Scientists/"
params = "?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false"
headers = {"Authorization": f"Bearer {api_key}"}

In [53]:
# results = response_1['OccupationDetail'][0]['Wages']['BLSAreaWagesList']


[x['Median'] for x in results if x['RateType']=='Annual' ][0]

In [54]:
for x in results:
    if(x['RateType']=='Annual'):
        print(x['Median'])

In [91]:
# for index, row in dataframe_1.iterrows():
#     # Get the city and state
#     city = dataframe_1.loc[index, "City"]
#     state = dataframe_1.loc[index, "State"]
#     # Add the current City type to the parameters
#     api_url =  f"{base_url}{city}%2C%20{state}{params}"
    
#     response_1 = requests.get(api_url, headers = headers).json()

#     print(json.dumps(response_1, indent=4, sort_keys=True))

In [90]:
for index, row in dataframe_1.iterrows():
    # Get the city and state
    city = dataframe_1.loc[index, "City"]
    state = dataframe_1.loc[index, "State"]
    # Add the current City type to the parameters
    api_url =  f"{base_url}{city}%2C%20{state}{params}"
    
    response_1 = requests.get(api_url, headers = headers).json()
    results = response_1['OccupationDetail'][0]['Wages']['BLSAreaWagesList']
#     results_2 = response["OccupationDetail"][0]['Projections']['Projections'][0]['ProjectedEmployment']

    try:
#         should we use estimated employment OR projected employment?
        projected_jobs = response_1["OccupationDetail"][0]['Projections']['Projections'][0]['EstimatedEmployment']
        dataframe_1.loc[index, '# of Analysts - City'] = projected_jobs
        
#         help from tutor
        median_salary = [x['Median'] for x in results if x['RateType']=='Annual' ][0] 
        dataframe_1.loc[index, 'Median Salary - City'] = median_salary    

    except (KeyError, IndexError):
        dataframe_1.loc[index, 'Median Salary - City'] = "Didnt find anything"
        dataframe_1.loc[index, '# of Analysts - City'] = "Didnt find anything"

dataframe_1

             City State # of Analysts - City Median Salary - City
0         Atlanta    GA                2,250               104060
1          Austin    TX                4,110               105350
2   San Francisco    CA               18,400               137680
3   New York City    NY                3,500               130070
4       San Diego    CA               18,400               123570
5          Boston    MA                2,880               106670
6        Portland    OR                  760               108130
7         Seattle    WA                2,700               140560
8     Los Angeles    CA               18,400               103430
9         Chicago    IL                3,370               104370
10         Denver    CO                  740               103800
11         Dallas    TX                4,110               103330

In [ ]:
#merge the 2 dataframes and use that for the heat map